@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
  if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null)
  {
    Layout = parentLayout.ToString();
  }
  else
  {
    Layout = "/Pages/Shared/_Layout.cshtml";
  }
}

<h1>Manage your account</h1>
<div class="flex flex-row w-full">
  <div class="flex flex-1 flex-col p-8">
    <partial name="_ManageNav"/>
  </div>
  <div class="w-1 h-full rounded-full bg-black"></div>
  <div class="flex flex-1 flex-grow-[3] flex-col items-center p-8">
      @RenderBody()
  </div>
</div>

@section Scripts {
  @await RenderSectionAsync("Scripts", required: false)
}