@page
@model ChangePasswordModel
@{
  ViewData["Title"] = "Change password";
  ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<partial name="_StatusMessage" for="StatusMessage"/>
<form id="change-password-form" method="post" class="flex flex-col w-full justify-center items-center">
  <div asp-validation-summary="ModelOnly" class="text-red-500" role="alert"></div>
  <div class="input-container-default">
    <input asp-for="Input.OldPassword" class="peer input-default" autocomplete="current-password" aria-required="true" placeholder=" " required/>
    <label asp-for="Input.OldPassword" class="peer-autofill:-translate-y-6 peer-focus:-translate-y-6 peer-valid:-translate-y-6 label-default"></label>
    <span asp-validation-for="Input.OldPassword" class="text-red-500"></span>
  </div>
  <div class="input-container-default">
    <input asp-for="Input.NewPassword" class="peer input-default" autocomplete="new-password" aria-required="true" placeholder=" " required/>
    <label asp-for="Input.NewPassword" class="peer-autofill:-translate-y-6 peer-focus:-translate-y-6 peer-valid:-translate-y-6 label-default"></label>
    <span asp-validation-for="Input.NewPassword" class="text-red-500"></span>
  </div>
  <div class="input-container-default">
    <input asp-for="Input.ConfirmPassword" class="peer input-default" autocomplete="new-password" aria-required="true" placeholder=" " required/>
    <label asp-for="Input.ConfirmPassword" class="peer-autofill:-translate-y-6 peer-focus:-translate-y-6 peer-valid:-translate-y-6 label-default"></label>
    <span asp-validation-for="Input.ConfirmPassword" class="text-red-500"></span>
  </div>
  <button type="submit" class="button-primary">Update password</button>
</form>

@section Scripts {
  <partial name="_ValidationScriptsPartial"/>
}