@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model EmailModel
@{
  ViewData["Title"] = "Manage Email";
  ViewData["ActivePage"] = ManageNavPages.Email;
}

<partial name="_StatusMessage" for="StatusMessage"/>
<form id="email-form" method="post" class="flex flex-col w-full justify-center items-center">
  <div asp-validation-summary="All" class="text-red-500" role="alert"></div>
  @if (Model.IsEmailConfirmed)
  {
    <div class="input-container-default">
      <input asp-for="Email" class="peer input-default overflow-hidden" placeholder="Please enter your email." disabled/>
      <label asp-for="Email" class="peer-autofill:-translate-y-6 peer-focus:-translate-y-6 peer-valid:-translate-y-6 label-default"></label>
      <span class="input-suffix-default right-0 text-green-500">
        <span class="material-icons-round">check_circle</span>
      </span>
    </div>
  }
  else
  {
    <div class="input-container-default">
      <input asp-for="Email" class="peer input-default" placeholder="Please enter your email." disabled/>
      <label asp-for="Email" class="peer-autofill:-translate-y-6 peer-focus:-translate-y-6 peer-valid:-translate-y-6 label-default"></label>
      <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
    </div>
  }
  <div class="input-container-default">
    <input asp-for="Input.NewEmail" class="peer input-default" autocomplete="email" aria-required="true" placeholder="Please enter new email."/>
    <label asp-for="Input.NewEmail" class="peer-autofill:-translate-y-6 peer-focus:-translate-y-6 peer-valid:-translate-y-6 label-default"></label>
    <span asp-validation-for="Input.NewEmail" class="text-red-500"></span>
  </div>
  <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="button-primary">Change email</button>
</form>

@section Scripts {
  <partial name="_ValidationScriptsPartial"/>
}