@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexModel
@{
  ViewData["Title"] = "Profile";
  ViewData["ActivePage"] = ManageNavPages.Index;
}

<partial name="_StatusMessage" for="StatusMessage"/>
<form id="profile-form" method="post" class="flex flex-col w-full justify-center items-center">
  <div asp-validation-summary="ModelOnly" class="text-red-500" role="alert"></div>
  <div class="input-container-default">
    <input asp-for="Username" class="peer input-default" placeholder=" " disabled/>
    <label asp-for="Username" class="peer-autofill:-translate-y-6 peer-focus:-translate-y-6 peer-valid:-translate-y-6 label-default"></label>
  </div>
  <div class="input-container-default">
    <input asp-for="Input.PhoneNumber" class="peer input-default" placeholder=" " required/>
    <label asp-for="Input.PhoneNumber" class="peer-autofill:-translate-y-6 peer-focus:-translate-y-6 peer-valid:-translate-y-6 label-default"></label>
    <span asp-validation-for="Input.PhoneNumber" class="text-red-500"></span>
  </div>
  <button id="update-profile-button" type="submit" class="button-primary">Save</button>
</form>

@section Scripts {
  <partial name="_ValidationScriptsPartial"/>
}