html, body {

    height: 100%
}

body {

    margin: 0px
}

* {

    font-family: Inter, Roboto, sans-serif !important
}

h1 {

    font-size: 1.5rem;

    line-height: 2rem
}

a {

    color: inherit;

    text-decoration-line: none
}

a:hover {

    --tw-text-opacity: 1;

    color: rgb(255 64 129 / var(--tw-text-opacity))
}
