html, body {

    height: 100%
}

body {

    margin: 0px
}

* {

    box-sizing: border-box !important;

    transition-property: all !important;

    transition-duration: 300ms !important;

    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important
}

*:not(span[class="material-icons-round"]) {

    font-family: Poppins, Inter, Roboto, sans-serif !important
}

h1 {

    font-size: 1.5rem;

    line-height: 2rem
}

a {

    color: inherit;

    text-decoration-line: none
}

.peer:not(.peer:-moz-placeholder-shown) + .input-label {

    --tw-translate-y: -1.5rem;

    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.peer:not(.peer:placeholder-shown) + .input-label {

    --tw-translate-y: -1.5rem;

    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}